  <div style="width:100%;height:239px;background-color:#ffffff;">
      <div class="footer page_footer yibuLayout_tempPanel" style="width:1000px;height:239px;;">
           <div class="runTimeflowsmartView"><div id="view_banner_64_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_64_843_Style1_Item0" style="height: 173px; width: 1002px; overflow: visible;">    <div id="fullScreen_view_banner_64_843" class="w_container_wrap renderfullScreen" style="left: -229.387px; width: 1460px; height: 173px;"></div>
    <script>
    $(function () {
        setRenderFullScreen($('#view_banner_64_843'));
        
    });
</script>


<div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0" id="flowsmartView_64" style="width:1002px;">
    <div id="view_image_65_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden image_Style1_Item0" style="height:76px;width:75px;">    <div class="megwh" style="height:100%; width:100%;">
        <a id="autosize_view_image_65_843" href="javascript:void(0)" target="_self">
            <input id="w_view_image_65_843" type="hidden" value="480">
            <input id="h_view_image_65_843" type="hidden" value="300">
            <input id="canadjustwidth_view_image_65_843" type="hidden" value="False">
            <input id="canadjustheight_view_image_65_843" type="hidden" value="False">

            <img class="lazyload" src="<{$static}>6713537_家居_55_0aebc38d-47bd-4ab3-9ca0-db837bcfcca0_resize_picture.png" data-original="http://img1.wezhan.cn/content/sitefiles/88072/images/6713537_家居_55_0aebc38d-47bd-4ab3-9ca0-db837bcfcca0_resize_picture.png" alt="" style="border: none; position: relative; display: inline;">
        </a>
    </div>
</div>
</div>
<div id="view_image_66_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden image_Style1_Item0" style="height:76px;width:75px;">    <div class="megwh" style="height:100%; width:100%;">
        <a id="autosize_view_image_66_843" href="javascript:void(0)" target="_self">
            <input id="w_view_image_66_843" type="hidden" value="70">
            <input id="h_view_image_66_843" type="hidden" value="70">
            <input id="canadjustwidth_view_image_66_843" type="hidden" value="False">
            <input id="canadjustheight_view_image_66_843" type="hidden" value="False">

            <img class="lazyload" src="<{$static}>6713538_家居_57_c5d8e342-214f-4c63-8211-b268cb82258e_resize_picture.png" data-original="http://img1.wezhan.cn/content/sitefiles/88072/images/6713538_家居_57_c5d8e342-214f-4c63-8211-b268cb82258e_resize_picture.png" alt="" style="border: none; position: relative; display: inline;">
        </a>
    </div>
</div>
</div>
<div id="view_image_67_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden image_Style1_Item0" style="height:76px;width:75px;">    <div class="megwh" style="height:100%; width:100%;">
        <a id="autosize_view_image_67_843" href="javascript:void(0)" target="_self">
            <input id="w_view_image_67_843" type="hidden" value="70">
            <input id="h_view_image_67_843" type="hidden" value="70">
            <input id="canadjustwidth_view_image_67_843" type="hidden" value="False">
            <input id="canadjustheight_view_image_67_843" type="hidden" value="False">

            <img class="lazyload" src="<{$static}>6713539_家居_58_e971b179-d66c-48f5-9649-f42c8350ed9d_resize_picture.png" data-original="http://img1.wezhan.cn/content/sitefiles/88072/images/6713539_家居_58_e971b179-d66c-48f5-9649-f42c8350ed9d_resize_picture.png" alt="" style="border: none; position: relative; display: inline;">
        </a>
    </div>
</div>
</div>
<div id="view_image_68_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden image_Style1_Item0" style="height:76px;width:75px;">    <div class="megwh" style="height:100%; width:100%;">
        <a id="autosize_view_image_68_843" href="javascript:void(0)" target="_self">
            <input id="w_view_image_68_843" type="hidden" value="70">
            <input id="h_view_image_68_843" type="hidden" value="70">
            <input id="canadjustwidth_view_image_68_843" type="hidden" value="False">
            <input id="canadjustheight_view_image_68_843" type="hidden" value="False">

            <img class="lazyload" src="<{$static}>6713540_家居_60_341d1eb7-b2ca-4fd8-bb5a-4b73ea99301a_resize_picture.png" data-original="http://img1.wezhan.cn/content/sitefiles/88072/images/6713540_家居_60_341d1eb7-b2ca-4fd8-bb5a-4b73ea99301a_resize_picture.png" alt="" style="border: none; position: relative; display: inline;">
        </a>
    </div>
</div>
</div>
<div id="view_text_69_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:50px;width:133px;">
<style type="text/css">
    #view_text_69_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_69_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p><span style="color: rgb(216, 216, 216); font-size: 12px;">服务热线：</span></p><p><span style="color: rgb(216, 216, 216); font-size: 16px;"><{$config.tel}> </span></p>
    </div>
</div>
<script>
    Pagination('view_text_69_843_txt',"首页","尾页","上一页","下一页");
</script>
</div>
</div>
<div id="view_text_70_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:48px;width:179px;">
<style type="text/css">
    #view_text_70_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_70_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p><span style="color: rgb(216, 216, 216); font-size: 12px;">邮箱：</span></p><p><span style="color: rgb(216, 216, 216); font-size: 16px;"><{$config.email}> </span></p>
    </div>
</div>
<script>
    Pagination('view_text_70_843_txt',"首页","尾页","上一页","下一页");
</script>
</div>
</div>
<div id="view_text_71_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:48px;width:157px;">
<style type="text/css">
    #view_text_71_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_71_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p><span style="color: rgb(216, 216, 216); font-size: 12px;">网址：</span></p><p><span style="color: rgb(216, 216, 216); font-size: 16px;"><{$config.site}> </span></p>
    </div>
</div>
<script>
    Pagination('view_text_71_843_txt',"首页","尾页","上一页","下一页");
</script>
</div>
</div>
<div id="view_text_72_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:72px;width:168px;">
<style type="text/css">
    #view_text_72_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_72_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p><span style="color: rgb(216, 216, 216); font-size: 12px;">地址：</span></p><p><span style="color: rgb(216, 216, 216); font-size: 12px;"><{$config.address}> &nbsp;</span></p>
    </div>
</div>
<script>
    Pagination('view_text_72_843_txt',"首页","尾页","上一页","下一页");
</script>
</div>
</div>
<div id="view_text_62_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:40px;width:1000px;">
<style type="text/css">
    #view_text_62_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_62_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p style="text-align: center;"><span style="font-family: 微软雅黑; text-align: center; color: rgb(0, 0, 0);">版权所有：<{$config.name}> &nbsp;</span><span style="color: rgb(0, 0, 0);"><{$config.beian}> </span><span style="font-family: 微软雅黑; text-align: center; color: rgb(0, 0, 0);">&nbsp;&nbsp;</span><span style="color: rgb(0, 0, 0);"></span></p>
    </div>
</div>
<script>
    Pagination('view_text_62_843_txt',"首页","尾页","上一页","下一页");
</script>
</div>
</div>

</div>
<script type="text/javascript">
    function setLayoutHeight() {
        var bannerheight = $("#view_banner_64_843").css("height");
        $("#view_banner_64_843").children(".yibuFrameContent").css("height", bannerheight);
    };
</script></div>
</div>
</div>
      </div>
    </div>
      </div>
</div>

    
    <script type="text/javascript">
        $(function() {
            if ("True" == "False") {
                $.ajax({
                    url: "http://clouddreams.wezhan.cn/PageVisit/Index",
                    data: { UrlPath: "gywm", pageTitle: "关于我们", pageId: "37676", siteId: "88072" },
                    dataType: 'jsonp',
                    jsonp: 'callback',
                    type: 'get',
                    success: function() {},
                    fail: function() {
                        alert("fail");
                    }
                })
            }

            if (0 > 0) {
                window.location.href = "/RunTime/DownLoadFileVerifyToken/0" + "?timespan=&token=";
            }
        })

    </script>
    <script language="javascript" type="text/javascript">
        function yiburecomputeLayoutHeight() {
            if (typeof (setLayoutHeight) != "undefined") {
                ReComputeVisibleSmartViewTop(setLayoutHeight);
            } else {
                ReComputeVisibleSmartViewTop();
            }
        }

        $(function() {
            if ("True" == "False" && "false" == "true") {
                $(document.body).bind('contextmenu', function() { return false; });
            }
            $('.yibuAnimate').smanimate();
            $("img.lazyload").lazyload({ skip_invisible: false, effect: "fadeIn", failure_limit: 15, threshold: 100 });
            var $sm_all_autoHViews = $(".main div[class^='yibuSmartViewMargin absPos']")
                .filter(function() {
                    var $this = $(this);
                    var child = $this.children(".yibuFrameContent");
                    return child.hasClass("overflow_hidden") == false &&
                        child.hasClass("overflow_auto") == false &&
                        $this.css("min-height") != "0px";
                });
            var $sm_all_imgs = $sm_all_autoHViews.find('img').filter(function() {
                return !$(this).hasClass('lazyload');
            });
            //检测是否新闻固定模板标识对象
            var newsFixTemlateFlagObj = $('#news_template_content_sm');
            var productFixTemplateFlagObj = $('#product_template_sm_flag');
            if ($sm_all_imgs.length > 0 && newsFixTemlateFlagObj.length==0 && productFixTemplateFlagObj.length==0) {
                $sm_all_imgs.each(function() {
                    var $this = $(this);
                    $this.on("load", function() {
                        yiburecomputeLayoutHeight();
                    });
                });
            }
            yiburecomputeLayoutHeight();
        });

    </script>
