      <div style="*z-index:11;*position:relative;width:100%;height:180px;margin-left:auto;margin-right:auto;background-color:"> 
      <div class="header page_header yibuLayout_tempPanel" style="width:1000px;height:39px;background-color:;;">
           <div class="runTimeflowsmartView"><div id="view_banner_32_843" class="yibuSmartViewMargin absPos" style="z-index: 999998;">
<div class="yibuFrameContent overflow_hidden banner_Style1_Item0 view_banner_32_843_Style1_Item0" style="height: 146px; width: 1000px; overflow: visible;">    <div id="fullScreen_view_banner_32_843" class="w_container_wrap renderfullScreen" style="left: -230.385px; width: 1460px; height: 146px;"></div>
    <script>
    $(function () {
        setRenderFullScreen($('#view_banner_32_843'));
        
    });
</script>


<div class="flowsmartView isflowcontainer w_container_content" refarea="Area_0" id="flowsmartView_32" style="width:1000px;">
    <div id="view_text_34_843" class="yibuSmartViewMargin absPos" style="top:40px;">
<div class="yibuFrameContent overflow_hidden text_Style1_Item0" style="height:27px;width:161px;">
<style type="text/css">
    #view_text_34_843_txt ul{ padding-left:20px;}
</style>
<div id="view_text_34_843_txt" style="cursor:default; height:100%; width:100%;">
    <div class="editableContent" style="line-height:1.5;">
        <p style="text-align: right;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: rgb(255, 255, 255);">服务热线：<span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: rgb(255, 255, 255); font-size: 16px;"><{$config.tel}></span></span><br></p>
    </div>
</div>

</div>
</div>
<div id="view_image_3_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent overflow_hidden image_Style1_Item0" style="height:73px;width:179px;border-style:none;">    <div class="megwh" style="height:100%; width:100%;">
        <a id="autosize_view_image_3_843" href="http://mbwz323.wezhan.cn/sy" target="_self">
            <input id="w_view_image_3_843" type="hidden" value="173">
            <input id="h_view_image_3_843" type="hidden" value="72">
            <input id="canadjustwidth_view_image_3_843" type="hidden" value="False">
            <input id="canadjustheight_view_image_3_843" type="hidden" value="False">

            <img class="lazyload" src="<{$static}>6713522_家居_05_911d060d-3136-43db-8bc6-78059d2cf317_resize_picture.png" data-original="http://img1.wezhan.cn/content/sitefiles/88072/images/6713522_家居_05_911d060d-3136-43db-8bc6-78059d2cf317_resize_picture.png" alt="" style="border: none; position: relative; display: inline;">
        </a>
    </div>
</div>
</div>
<div id="view_navigator_8_843" class="yibuSmartViewMargin absPos" style="z-index: 999999;">
<div class="yibuFrameContent navigator_Style3_Item0 view_navigator_8_843_Style3_Item0" style="border-style: none; overflow: visible;"><!--nav-->
    <ul id="nav_view_navigator_8_843" styleitem="Style3">
       {foreach name="nav_list" item="nav" key="key"}
         <li class="w_nav_item  {if $key==3}w_nav_item_current{/if}"  style="width:20%;*width:19.6%">
                    <h3>
                        <a href="<{$nav.nav_url}>" {if $nav.type == 1}target="_blank"{/if}>
                          <{$nav.nav_name}>
                        </a>
                    </h3>
                            </li>
       
            {/foreach}
    </ul>

<!--/nav-->
<input type="hidden" id="HeightVariablesStr_view_navigator_8_843" value="$height:50px;$Item_height:50px;$SubItem_height:50px;">
<script>
    $(function () {
        slideMenu("nav_" + 'view_navigator_8_843');
        jQuery("#nav_" + 'view_navigator_8_843').parent("div").css("overflow", "visible");
        var isDivider = true;

        //子导航下边框显示不出来的fix 
        $("#nav_" + 'view_navigator_8_843').children("li").each(function () {
            var Li_height = $(this).height();
            $("li", this).height(Li_height);

            var child_li = $("li", this);
            var topborderwidth = $("a:first", child_li).css('border-top-width');
            topborderwidth = isNaN(parseInt(topborderwidth)) ? 0 : parseInt(topborderwidth);
            var bottomborderwidth = $("a:first", child_li).css('border-bottom-width');
            bottomborderwidth = isNaN(parseInt(bottomborderwidth)) ? 0 : parseInt(bottomborderwidth);

            var aheight = Li_height - topborderwidth - bottomborderwidth;
            $("a", child_li).height(aheight);
        });

        jQuery("#nav_" + 'view_navigator_8_843').children("li").each(function () {
            var topWidth = $(this).children("h3").children("a").css("border-top-width");
            var leftWidth = $(this).children("h3").children("a").css("border-left-width");
            var bottomWidth = $(this).children("h3").children("a").css("border-bottom-width");
            if (topWidth != "0" && topWidth != "0px") {
                isDivider = false;
                return false;
            }
            if (leftWidth != "0" && leftWidth != "0px") {
                isDivider = false;
                return false;
            }
            if (bottomWidth != "0" && bottomWidth != "0px") {
                isDivider = false;
                return false;
            }
            if ($(this).children("ul").length > 0) {
                var maxWidth = $(this).children("ul").width();
                $(this).children("ul").children("li").each(function () {
                    var a = $(this).children("a");
                    var currentWidth = GetCurrentStrWidth(a.html(), a.css("font-size")) + 20;

                    if (maxWidth < currentWidth)
                        maxWidth = currentWidth;
                });
                $(this).children("ul").css("width", maxWidth + "px");
            }

        });
        //if (isDivider)
        //    jQuery("#nav_" + 'view_navigator_8_843').children("li:last").children("h3").children("a").css("border-right-width", "0px");//去掉最后一项的分隔线

        if ("False" == "False") {
            jQuery("#" + 'view_navigator_8_843').css("z-index", "999999");
            if ($.browser.msie) {
                jQuery("#" + 'view_navigator_8_843').parent(".runTimeflowsmartView").css("z-index", "999999");
            }
            if (jQuery("#" + 'view_navigator_8_843').parent().attr("class") != "runTimeflowsmartView") {//导航可能放在容器控件中了，需要把容器控件的z-index的值设大
                jQuery("#" + 'view_navigator_8_843').parent(".w_container_content").parent().parent().css("z-index", "999998");
            }
        }
        SetNavSelectedStyle("nav_" + 'view_navigator_8_843', 'nav');//选中当前导航
    })

</script>

</div>
</div>
<div id="view_search_63_843" class="yibuSmartViewMargin absPos">
<div class="yibuFrameContent search_Style1_Item0 view_search_63_843_Style1_Item0" style="height:32px;width:300px;"><!--w_search-->

<script typeof="text/javascript">
    var htmlzindex = $("#view_search_63_843").css("z-index");
    var bannerindex = $("#view_search_63_843").parents("[id^=view_banner]").css("z-index");
    $('#view_search_63_843 .w_search_select').click(function () {
        $(this).children("ul.w_search_select_list").toggle(); if ($(this).children("ul.w_search_select_list").css("display") == "none") { $("#view_search_63_843").css("z-index", htmlzindex).parents("[id^=view_banner]").css("z-index", bannerindex); } else { $("#view_search_63_843").css("z-index", "9999999").parents("[id^=view_banner]").css("z-index", "9999999"); };
    });
    $('#view_search_63_843 .w_search_select').mouseenter(function () {
        $(this).children("ul.w_search_select_list").show(); $("#view_search_63_843").css("z-index", "9999999").parents("[id^=view_banner]").css("z-index", "9999999");
    });
    $('#view_search_63_843 .w_search_select').mouseleave(function () {
        $(this).children("ul.w_search_select_list").hide(); $("#view_search_63_843").css("z-index", htmlzindex).parents("[id^=view_banner]").css("z-index", bannerindex);
    });
    $("#view_search_63_843 .w_search_select .w_search_select_list li").click(function () {

        var textvalue = $(this).text();
        var type = $(this).attr("id");
        $(this).parent().siblings(".w_search_select_txt").text(textvalue);
        $("#view_search_63_843 #w_search_select_add").val(type);

    });

    $(function () {

        var hoverIcon = "";
        if (hoverIcon != "") {
            var obj = $("#view_search_63_843").find(".w_search_btn i");
            obj.unbind("hover");
            obj.hover(function () {
                $(this).html(hoverIcon);
            },
            function () {
                $(this).html("");
            });
        }

        $("#view_search_63_843 .w_search_btn").click(function () {

            var keyword = $("#view_search_63_843").find(".w_search_input").val();
            var cate = $("#view_search_63_843").find("#w_search_select_add").val();
            var catename = $("#view_search_63_843").find("span.w_search_select_txt").text();
            if (keyword.replace(/(^\s*)|(\s*$)/g, "") == "") {
                alert("搜索关键字不能为空")
                return;
            }
            if (cate == "")
                cate = 0;
            if ("False".toLocaleLowerCase() != "true")

                if ("False".toLocaleLowerCase() == "false") {
                    window.location.href = "/searchresultlist?keyword=" + keyword + "&searchCategory=" + cate + "|" + catename + "&htmlSmartId=0&isshowsearch=False";
                } else {
                    TurnPageSmartView("843", "", "False", "1", "", "", cate + "|" + catename, keyword, "false");
                }

        });
        $("#view_search_63_843 .w_search_input").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#view_search_63_843 .w_search_btn").click();
            }
        })
        $("#view_search_63_843 .yibuFrameContent").removeClass("overflow_hidden");
    });

</script></div>
</div>

</div>
<script type="text/javascript">
    function setLayoutHeight() {
        var bannerheight = $("#view_banner_32_843").css("height");
        $("#view_banner_32_843").children(".yibuFrameContent").css("height", bannerheight);
    };
</script></div>
</div>


</div>
      </div>
      </div>